* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding-top: 0.2%;
    padding-left: 1%;
    height: 4%;
    background-image: linear-gradient(to right, rgb(195, 59, 111), rgb(230, 93, 93));
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: small;

}



.head-text {}

.head-gift-icon {
    padding-left: 43%;
    cursor: pointer;
}

.head-gift {
    font-family: 'Roboto Slab', serif;
    cursor: pointer;

}

.head-order-icon {
    padding-left: 2%;
    cursor: pointer;
}

.head-order {
    font-family: 'Roboto Slab', serif;
    cursor: pointer;
}

.fb {
    padding-left: 2%;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.twitter {
    padding-left: 2%;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.insta {
    padding-left: 2%;
    cursor: pointer;
    text-decoration: none;
    color: white;
}

.navbar {
    height: 15%;
    /* background-color: bisque; */
    padding-top: 0.3%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.book {
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    padding-left: 8%;

}

.mark {
    font-size: 2.5rem;
    font-family: 'Pacifico', cursive;
    color: rgb(195, 59, 111);
}

.search {
    float: right;
    padding-right: 5rem;
    padding-top: 1rem;
}

.search input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border-width: 0.1rem;
    border-style: solid;
    border-radius: 0.2rem;
    border-color: rgb(195, 59, 111);
    background-color: rgb(249, 234, 239);
    color: rgb(195, 59, 111);
    font-family: 'Tajawal', sans-serif;



}

.nav-item {
    padding-left: 10rem;
}

.navbar a {
    font-size: 1.2rem;
    text-decoration: none;
    padding-left: 2rem;
    font-family: 'Tajawal', sans-serif;
    color: rgb(195, 59, 111);

}

.navbar a:hover {
    font-size: 1.2rem;
    text-decoration: none;
    background-color: rgb(195, 59, 111);
    color: white;
    padding: 1rem;
    border-radius: 0.2rem;


}

.search input[type=text]:active {
    border-color: rgb(244, 169, 198);
    border-color: rgb(222, 50, 116);
}

.search button {
    padding: 0.8rem;
    background-color: rgb(195, 59, 111);
    border: none;
    cursor: pointer;
}


.bac-image {

    background-image: url(../assetes/img9.jpeg);
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    filter: alpha(opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    opacity: 0.8;


}
.banner1{
    height: 80%;
}
.h1 {
    font-size: 1.5rem;
    padding-top: 5rem;
    padding-left: 5rem;
    font-family: 'Tajawal', sans-serif;
    color: white;

}

.h2 {
    font-size: 4rem;
    color: white;
    padding-top: 1rem;
    padding-left: 5rem;
}

.lm-btn {
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1.4rem;
    margin-top: 1rem;
    margin-left: 5rem;
    border-radius: 0.7rem;
    border: none;
    background-color: rgb(195, 59, 111);
    cursor: pointer;
    margin-bottom: 3rem;
}
.lm-btn:hover{
    background-color: rgb(221, 213, 213);
    color: rgb(195, 59, 111);
    cursor: pointer;

}
.con-btn{
    color: rgb(195, 59, 111);
    background-color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1.4rem;
    border-radius: 0.7rem;
    border: none;
    
    cursor: pointer;
}
.con-btn:hover{
    background-color: rgb(195, 59, 111);
    color: white;
    cursor: pointer;
}
.banner2{
    width: 100%;
    background-color: rgb(229, 245, 248);
    height: 53rem;
    /* padding-top: 7rem; */
}
.book1{
    width:24rem;
    height: 37rem;
    background-color: white;
    margin-left: 3rem;
    margin-top: 8rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 27px -9px rgb(0 0 0 / 25%);
    display: inline-block;
   
}
.fiction-img{
    width:21rem ;
    height: 19rem;
}
.fic-head{
    font-size: 2rem;
    font-family: 'Tajawal', sans-serif;
    color:rgb(195, 59, 111);
    text-align: center;
}
.fic-con1{
    font-size: 1.2rem;
    color: gray;
    text-align: center;
    margin-bottom: 2rem;

}
.fic-con2{
    font-size: 1.2rem;
    color: gray;
    text-align: center;
    margin-bottom: 2rem;

}
.fic-con3{
    font-size: 1.2rem;
    color: gray;
    text-align: center;
    margin-bottom: 2rem;

}
.learn-btn {
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1.4rem;
    margin-top: 4rem;
    margin-left: 5.5rem;
    border-radius: 0.7rem;
    border: none;
    background-color: rgb(195, 59, 111);
    cursor: pointer;
   
}
.learn-btn:hover{
    background-color: rgb(221, 213, 213);
    color: rgb(195, 59, 111);
    cursor: pointer;

}
.book2{
    width:24rem;
    height: 37rem;
    background-color: white;
    margin-left: 3rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 27px -9px rgb(0 0 0 / 25%);
    display: inline-block;
   
}
.book3{
    width:24rem;
    height: 37rem;
    background-color: white;
    margin-left: 3rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 10px 27px -9px rgb(0 0 0 / 25%);
    display: inline-block;

   
}
.banner3{
    width: 100%;
    height: 10rem;
    background-color: grey;
    /* background-image: linear-gradient(to right, rgb(195, 59, 111), rgb(230, 93, 93)); */
}
.gallery{
    font-size: 4rem;
    text-align: center;
    padding-top: 2.4rem;
    color: white    ;
}
.banner4{
    background-color: white;
}

.know-img{
    width:20.5rem;
    height: 25rem;
}
.know{
    width: 19rem;
    height: 20rem;
    text-align: center  ;
}
.know-head{
    font-size: 1.5rem;
}
.know-con{
    font-size: 1.2rem;
    font-family: 'Tajawal', sans-serif;
    padding-top: 1rem;
    list-style-type: none;

}
.know:hover{
    background-color: rgb(195, 59, 111) ;
    color: white;
}
.view-book{
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1.2rem;
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-left: 2rem;
    border-radius: 0.7rem;
    border: none;
    background-color: rgb(142, 167, 230);
    cursor: pointer;
}
.view-book:hover{
    background-color: rgb(221, 213, 213);
    color: rgb(195, 59, 111);
    cursor: pointer;
}
.banner5{
    width: 100%;
    height: 20rem;
    background: #fd7792;
    opacity: .8;
}
.book-page{
    font-size: 5rem;
    color: white;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
    
}
.book-con{
    font-size: 2rem;
    color: white;
    text-align: center;

}
.book-now{
    color: white;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1.2rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-left: 30rem;
    border-radius: 0.7rem;
    border: none;
    background-color: rgb(142, 167, 230);
    cursor: pointer;
}
.contact-now{
    color: blue;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1rem;
    padding-right: 1.2rem;
    font-size: 1.4rem;
    margin-top: 2rem;
    margin-left: 0.6rem;
    border-radius: 0.7rem;
    border: none;
    background-color: white;
    cursor: pointer;
}
.book-now:hover{
    background-color: white;
    color:blue;
}
.contact-now:hover{
    background-color: blue;
    color: white;
}
.banner6{
    background-color: white;
    height: 20%;
}
